/* Estilos para el contenedor principal de Destination */
.destination {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column; /* Alinear en columna */
  justify-content: flex-start; /* Alinear al inicio del contenedor */
}

/* Estilos específicos para diferentes tamaños de pantalla */
@media (min-width: 1024px) {
  .destination {
    background-image: url('../images/destination/background-destination-desktop.jpg');
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .destination {
    background-image: url('../images/destination/background-destination-tablet.jpg');
  }
}

@media (max-width: 767px) {
  .destination {
    background-image: url('../images/destination/background-destination-mobile.jpg');
  }
}

/* Estilos para los botones de destino */
.destination-buttons {
  display: flex;
  justify-content: flex-start; /* Alinear al inicio */
  gap: 20px; /* Espacio entre botones */
  margin-top: 20px; /* Margen superior */
}

.destination-buttons button {
  color: #ffffff; /* Color del texto */
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  outline: none; /* Sin contorno al enfocar */
  cursor: pointer; /* Cambiar cursor al pasar */
  position: relative; /* Posición relativa */
  font-size: 16px; /* Tamaño de fuente */
  padding: 8px 16px; /* Espaciado interno */
}

.destination-buttons button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease; /* Transición para la línea */
}

.destination-buttons button:hover::after,
.destination-buttons button:focus::after {
  background-color: #ffffff; /* Color de la línea al hacer hover o focus */
}

.destination-buttons button.active::after {
  background-color: #ffffff; /* Color de la línea activa */
}



/* Estilos para el texto específico */
.text-gray-500 {
  color: #808080; /* Color plomo */
}

.text-white {
  color: #ffffff; /* Color blanco */
}